header,
#menu-content li,
#menu-content {
    align-items: center;
}

#spinner {
    background:
        linear-gradient(217deg, rgba(250, 200, 99, .9), rgba(250, 200, 99, 0) 80%),
        linear-gradient(127deg, rgba(249, 145, 87, .9), rgba(249, 145, 87, 0) 80%),
        linear-gradient(336deg, rgba(236, 95, 103, .9), rgba(236, 95, 103, 0) 80%);
}

html,
.masthead {
    background-color: #1b2b34;
}

.masthead {
    border-bottom: 1px solid #0a171e;
}

#spinner {
    border-radius: 50%;
}

.masthead {
    box-shadow: 0 1px 0 #343d46;
}

* {
    box-sizing: border-box;
}

html {
    color: #d8dee9;
}

a {
    color: #6699cc;
}

a:hover {
    color: #c594c5;
}

svg:hover,
#menu:hover,
#close:hover {
    cursor: pointer;
}

#menu.active,
#close.active,
#blog-content.active,
#spinner.active,
wp-posts.active {
    display: block;
}

body,
header,
#menu-content.active,
#menu-content li,
article {
    display: flex;
}

#menu,
#close,
#menu-content,
#blog-content,
#spinner,
wp-posts {
    display: none;
}

svg {
    fill: #d8dee9;
}

body,
#menu-content {
    flex-direction: column;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#menu-content {
    font-size: 22px;
}

body {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}

svg {
    height: 44px;
}

#spinner {
    height: 60px;
}

#menu-content {
    height: 100vh;
}

#menu-content {
    justify-content: center;
}

header {
    justify-content: space-between;
}

body {
    line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 320px)/(1920 - 320)));
}

#menu-content {
    line-height: 3;
}

#menu-content ul {
    list-style-type: none;
}

body,
#menu-content ul {
    margin: 0;
}

#menu-content svg {
    margin-right: 15px;
}

#blog-content {
    margin-top: 65px;
}

#menu-content ul {
    padding: 0;
}

.masthead,
#blog-content {
    padding: 0 10px;
}

#menu-content {
    padding-top: 65px;
}

.masthead {
    position: fixed;
}

svg {
    width: 44px;
}

#spinner {
    width: 60px;
}

.masthead {
    width: 100vw;
}