/*
 * Colour scheme: Oceanic Next
 * https://github.com/mhartington/oceanic-next
 */

:root {
   --base00: #1b2b34;
   --base01: #343d46;
   --base02: #4f5b66;
   --base03: #65737e;
   --base04: #a7adba;
   --base05: #c0c5ce;
   --base06: #cdd3de;
   --base07: #d8dee9;
   --red: #ec5f67;
   --orange: #f99157;
   --yellow: #fac863;
   --green: #99c794;
   --cyan: #5fb3b3;
   --blue: #6699cc;
   --purple: #c594c5;
   --brown: #ab7967;
}

/*
 * Typography
 */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 320px)/(1920 - 320)));
}

:root {
    --font-xs: 0.5rem;
    --font-s: 0.75rem;
    --font-m: 1rem;
    --font-l: 1.5rem;
    -- font-xl: 3rem;
    --svg-size: 24px;
}

/*
 * Global
 */

* {
    box-sizing: border-box;
}

/* A declared value is needed for the following rules to apply. */
*::-webkit-scrollbar {
    width: revert;
}

*::-webkit-scrollbar-track {
    background: var(--base00);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--base01);
    border: 1px solid var(--base00);
    border-radius: 20px;
}

html {
    background-color: var(--base00);
    color: var(--base07);
}

body {
    margin: 0;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--purple);
}

h1 a,
h1 a:hover,
h1 a:visited {
    color: inherit;
}

svg {
    fill: var(--base07);
    height: var(--svg-size);
    width: var(--svg-size);
}

svg:hover,
#menu:hover,
#close:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/*
 * Masthead
 */

#masthead {
    align-items: center;
    background-color: var(--base00);
    border-bottom: 1px solid var(--base01);
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    position: sticky;
    top: 0;
}

#masthead svg {

}

#masthead h1 {
    font-size: var(--font-l);
    font-weight: normal;
    margin: 0.25rem 0;
}

/*
 * Menu
 */
.view-menu main {
    padding: 2rem;
}

.view-menu h1 {
    text-align: center;
}
#menu-content {
    display: grid;
    place-items: center;
}

#menu-content ul {
    line-height: 3;
    padding: 0;
}

#menu-content li {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60px auto;
    place-items: center start;
}

/*
 * Post cards
 */

time {
    text-transform: uppercase;
}

.post-summary {
    border: 1px solid var(--base02);
    border-radius: 0.5rem;
    color: var(--base07);
    display: block;
    margin: 1rem;
    padding: .1rem 1rem;
    text-decoration: inherit;
}

.post-summary:hover {
    background-color: var(--base02);
}

.post-summary h2 {
    margin-bottom: 0.25rem;
}

.post-summary time {
    font-size: var(--font-s);
}

.post-summary img {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.pagination {
    margin: 3rem 1rem;
}

.pagination ul {
    column-gap: 0.25rem;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination a {
    display: block;
    border: 1px solid var(--base01);
    padding: 1rem;
    text-decoration: none;
}

.pagination a:hover {
    background-color: var(--base02);
}

.pagination a:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

.pagination a:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.pagination .current {
    background-color: var(--base01);
    color: inherit;
    pointer-events: none;
}

#license {
    border-top: 1px solid var(--base01);
    font-size: var(--font-s);
    padding: 0 1rem;
}
